# Desktop entry file for GRC's DNS Benchmark
# Refer the Desktop Entry Specification on how to write this file:
# https://specifications.freedesktop.org/desktop-entry-spec
[Desktop Entry]
Version=1.0
Type=Application
Name=GRC's DNS Benchmark
Comment=A unique, comprehensive, accurate & free utility to determine the exact performance of local and remote DNS nameservers
Exec=dnsbench
Icon=${SNAP}/meta/gui/DNSBench.256px.png
Categories=Utility;Network
